@model QuintaApp.Models.Usuario

@{
    ViewBag.Title = "Resultado";
}

<h2>Listar usuário</h2>

<fieldset>
    <legend>Usuário cadastrado</legend>

    <div class="editor-label">
        @Html.DisplayNameFor(m => m.UsuId)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.UsuId)
    </div>
    <br />
    <div class="editor-label">
        @Html.DisplayNameFor(m => m.UsuNome)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.UsuNome)
    </div>
    <br />
    <div class="editor-label">
        @Html.DisplayNameFor(m => m.UsuObs)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.UsuObs)
    </div>
    <br />
    <div class="editor-label">
        @Html.DisplayNameFor(m => m.UsuNasc)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.UsuNasc)
    </div>
    <br />
    <div class="editor-label">
        @Html.DisplayNameFor(m => m.UsuEmail)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.UsuEmail)
    </div>
    <br />
    <div class="editor-label">
        @Html.DisplayNameFor(m => m.UsuLogin)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.UsuLogin)
    </div>
    <br />
    <div class="editor-label">
        @Html.DisplayNameFor(m => m.UsuSenha)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.UsuSenha)
    </div>
    <br />
    <div class="editor-label">
        @Html.DisplayNameFor(m => m.UsuConfirmaSenha)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.UsuConfirmaSenha)
    </div>
    <br />
    <p>@Html.ActionLink("Voltar", "Index")</p>
</fieldset>
